
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

/* Hide scrollbar while keeping scroll functionality */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}
